# Ignore node_modules
node_modules/

# Ignore build artifacts
dist/
.tmp/
.angular/

# Ignore IDE/Editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore environment files
src/environments/environment.ts
src/environments/environment.prod.ts

# Ignore OS-specific files
.DS_Store
Thumbs.db